*{
    font-family: "Poppins",sans-serif;
}
.movies-list{
  display: block;
margin-top: 60px;
   text-align: left;

}

.movies-list h2{
    margin-left: 20px;
}
.card-list{
    display: flex;
align-items: center; 
gap: 10px;
overflow-x:scroll;
overflow: hidden;
position: relative;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width:150px;
border-radius: 10px;
display: block;
/* margin-left: 20px; */
cursor: pointer;
opacity: 1;
position: relative;
}
.card-list img:hover{
    opacity: 0.5;
}
.card {

    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-number {
    background-color: rgba(111, 8, 8, 0.819);
    color: white;
width: 50px;
height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: 
    center;
text-align: end;
font-weight: bold;
    z-index: 999;
    box-shadow: 1px 2px 5px 2px black;
}
.movies-row {
  position: relative;
}
/*  */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}


